.userinput-component{
    display: flex;
    flex-direction: column;
    flex: 0.5;
}
textarea{
    margin : 2%;
    resize: none;
    height: 20%;
}
input{
    margin : 2%;
    height: 10%;
}

label{
    margin: 0 2%;
}
.preview-component{
    margin : 2%;
    display: flex;
    flex: 0.5;
    flex-direction: column;
}
.quote-display{
    display: flex;
    width : 100%;
    background-color: aqua;
    max-height: 100%;
}
.line{
    margin: 2%;
    min-width: 2%;
    background-color: brown;
}
.quote-text{
    font-size: 150%;
    margin: 5% 0;
}
.quotation-marks{
    font-weight: 500;
    font-size: 150%;
    margin-top: 2%;
}
.Reference{
    margin : 5%;
    font-size: 120%;
}